* {
  margin: auto;
  padding: 22px 10px;
}

input, button {
  border: 1px solid #aaa;
  font-size: 16px;
  padding: 5px;
  margin: 0px 0px 10px 10px;
  border-radius: 6px;
}

button {
  background-color: rgba(90, 90, 90, .6);
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
}

p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 20px;
}
 
section {
  position: relative;
  overflow: hidden;
  padding: 0px 00px 20px;
  border-radius: 5px;
  background-color: #fff;
  margin: 30px auto;
  max-width: 400px;
  box-shadow: 0 10px 40px -14px rgba(100, 100, 100, 1),
  0 10px 40px -10px rgba(155, 155, 200, 1);
}

#buttonEr {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

#buttonEr header {
  flex-basis: 100%;
  margin: 10px;
  text-align: center;
  font-size: larger;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#buttonEr button {
  flex-basis: 40%;
}

.toggles {
  margin: 0px;
}

.error {
  color: red;
  font-size: small;
  margin-left: 15px;
}